<br>
<section class="users">
  <h3>List of Existing Users:</h3>
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Created at</th>
      </tr>
    </thead>
    <% @users.each_with_index do |user, index|%>
    <div class="user-<%= user.id %>">
    <tbody>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%=  link_to user.email, "/admin/users/#{user.id}" %></td>
      <td> <%= user.created_at.strftime('%b %-d, %Y') %></td>
    </div>
    </tbody>
    <% end %>
</table>
</section>