<br><br>

<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact</h5>

          <ul class="list-unstyled mb-0">
         <!-- Linkedin -->
      <li>
      <a href="https://www.linkedin.com/in/kim-guo-5331b4158/"><%= image_tag "linkedin.jpeg", height: 20 %></a>

      <!-- Github -->
 
       <a href="https://github.com/kg-byte"><%= image_tag "github.jpeg", height: 20 %></a>
     </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Powered by</h5>

          <ul class="list-unstyled mb-0">
            <li>
               <a href="https://developers.themoviedb.org/3/getting-started/introduction"><%= image_tag "mvdb.jpeg", height: 20 %></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

  
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>

</footer>
<!-- Footer -->