<%= render partial: 'partials/navbar_user', :locals => {:user_id => @user.id} %>
<br>

<h3>My Friends:</h3>
<br>
<h3>Viewing Parties:</h3>
<%= render partial: 'partials/viewing_parties', :locals =>{:user => @user} %>


